// Fonts
@import "~font-awesome/css/font-awesome.min.css";
//@import "~ionicons/dist/css/ionicons.min.css";

// Bootstrap
@import "~bootstrap/dist/css/bootstrap.min.css";

// Admin LTE
@import "~admin-lte/dist/css/adminLTE.css";
@import "~admin-lte/dist/css/skins/skin-blue.css";

// Vue Awesome Notifications
@import "vendor/vue-awesome-notifications/variables";
@import '~vue-awesome-notifications/dist/styles/style.scss';

// Variables
@import "variables";

// Custom Style
@import "custom";