body {
    background-color: #d2d6de;
}

#app {
	height: 100%;
}

.v-select {
    border-radius: 0;

    .dropdown-toggle {
        border-radius: 0 !important;
    }
}

.has-error {
    .dropdown.v-select .dropdown-toggle {
        border: 1px solid $color-danger;
    }
}